.Company {
	margin: 20px 0;
	box-shadow: 0px 2px 2px rgb(131, 131, 131);
	padding: 30px;
}

.Company-link {
	text-decoration: none;
}

.Company:hover {
	box-shadow: 0px 5px 5px rgb(131, 131, 131);
	color: rgb(64, 80, 181);
}

.Company-header {
	display: flex;
	justify-content: space-between;
}

.Company-name {
	display: inline-block;
}

.Company-logo {
	display: inline;
	width: 50px;
	height: auto;
}

.Company-description {
	text-align: left;
	padding-top: 10px;
}
