.Login {
	width: 30%;
	margin: 10px auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.Login-form {
	background-color: rgb(245, 245, 245);
	padding: 20px;
	border-radius: 5px;
	border: 1px solid lightgray;
	margin-top: 10px;
}

.Login-heading {
	text-align: left;
}

.Login-form label {
	float: left;
	margin: 5px 0;
}

.Login-form input {
	display: block;
	box-sizing: border-box;
	margin: 5px auto 10px auto;
	width: 100%;
	border: 1px solid lightgray;
	font-size: 16px;
	padding: 12px;
	border-radius: 5px;
}

.Login-btn-wrapper {
	text-align: right;
}

.Login-btn {
	border: none;
	text-decoration: none;
	background-color: rgb(64, 80, 181);
	margin-top: 10px;
	padding: 10px 15px;
	color: white;
	border-radius: 5px;
}
