.NavBar a {
	color: white;
	text-decoration: none;
}

.NavBar-routes {
	float: right;
	width: 100%;
}

.NavBar-routes a {
	margin: 0 20px;
}

.NavBar-nav-routes {
	float: left;
}

.NavBar-user-routes {
	float: right;
}
